<a href="https://colab.research.google.com/github/ipsitaster/Interview-Prepartion-Data-Science/blob/master/sl_housing_price_prediction_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

Let's do some basic data analysis to get familiar with the data. For instance,
1. Get an idea of statistics on various features.
2. Understand the correlation of various features.
3. Are there any outliers in the dataset? If so, how can be fix this?
4. How to test for multi-collinearity? What features should we eliminate based on this test?

Which of these steps should be run on training data?
When should we split the training data into train validation datasets?

Write code to split the data into train and test.

In [ ]:
train, test = ...

Get a summary of all the features that are present in the dataset

In [ ]:
train.

Write code for correlation of response variable with all the other variables. Which feature is most correlated with the response variable? (what is the response variable in this case?)

In [ ]:
corr_matrix = train.
corr_matrix[<response_variable>]

Test for outliers and remove them. Let's use box plot to find outliers.
A box plot is a visualization aid that presents the lower and upper
quartiles along with lower and upper bounds based on a heuristic.
Drop rows from the training data that are outliers based on the algorithm described [here](https://www.simplypsychology.org/boxplots.html).

In [ ]:
for c in train.columns:
    q75,q25 = ...
    intr_qr = q75-q25

    upper = ...
    lower = ...