<a href="https://colab.research.google.com/github/ipsitaster/Interview-Prepartion-Data-Science/blob/master/Stripe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from IPython.core.interactiveshell import import_item
import sklearn
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [10]:
def load_dataset():
    df = pd.read_csv('takehome_ds_written.csv')
    df['time'] = pd.to_datetime(df['time'])
    df['day'] = df['time'].dt.day
    df['month'] = df['time'].dt.month
    df['year'] = df['time'].dt.year
    df['hour'] = df['time'].dt.hour
    df['minute'] = df['time'].dt.minute
    df['second'] = df['time'].dt.second
    df['weekday'] = df['time'].dt.weekday
    df['week'] = df['time'].dt.week
    df['day_of_year'] = df['time'].dt.dayofyear
    df['day_of_month'] = df['time'].dt.day
    df['week_of_year'] = df['time'].dt.weekofyear
    df['quarter'] = df['time'].dt.quarter
    df['is_weekend'] = df['time'].dt.weekday.isin([5,6]).astype(int)
    df['is_weekday'] = df['time'].dt.weekday.isin([0,1,2,3,4]).astype(int)
    df['is_month_start'] = df['time'].dt.is_month_start.astype(int)
    df.drop('time', axis=1, inplace=True)
    df.drop('Unnamed: 0', axis=1, inplace=True)
    return df

In [11]:
# Main
df = load_dataset()
df.head()
df.info

<ipython-input-10-a39f4cbd448a>:11: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['time'].dt.week
<ipython-input-10-a39f4cbd448a>:14: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week_of_year'] = df['time'].dt.weekofyear

<bound method DataFrame.info of            merchant  amount_usd_in_cents  day  month  year  hour  minute  \
0        faa029c6b0                 6349   17      6  2034    23      34
1        ed7a7d91aa                 3854   27     12  2034     0      40
2        5608f200cf                  789   30      4  2034     1      29
3        15b1a0d61e                 4452   16      9  2034     1       6
4        4770051790                20203   22      7  2034    16      21
...             ...                  ...  ...    ...   ...   ...     ...
1513714  72d37bedbf                 5274   21      6  2034    13      47
1513715  5608f200cf                  754   20      4  2034     2      23
1513716  fcbd1dae68                13203   19      9  2033    14       2
1513717  9843e52410                 4845   28     12  2034    20       7
1513718  32acddd6cc                 3862   23      8  2034     9       7

         second  weekday  week  day_of_year  day_of_month  week_of_year  \
0            14        5    24          168            17            24
1            38        2    52          361            27            52
2            42        6    17          120            30            17
3            23        5    37          259            16            37
4            42        5    29          203            22            29
...         ...      ...   ...          ...           ...           ...
1513714      51        2    25          172            21            25
1513715      59        3    16          110            20            16
1513716      33        0    38          262            19            38
1513717      59        3    52          362            28            52
1513718       7        2    34          235            23            34

         quarter  is_weekend  is_weekday  is_month_start
0              2           1           0               0
1              4           0           1               0
2              2           1           0               0
3              3           1           0               0
4              3           1           0               0
...          ...         ...         ...             ...
1513714        2           0           1               0
1513715        2           0           1               0
1513716        3           0           1               0
1513717        4           0           1               0
1513718        3           0           1               0

[1513719 rows x 17 columns]>

In [12]:
# prompt: find correlation of df

df.corr()

<ipython-input-12-17f8176b6c05>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,amount_usd_in_cents,day,month,year,hour,minute,second,weekday,week,day_of_year,day_of_month,week_of_year,quarter,is_weekend,is_weekday,is_month_start
amount_usd_in_cents,1.000000,-0.003346,0.007078,0.004654,0.009196,0.000309,-0.001131,-0.015205,0.007557,0.006727,-0.003346,0.007557,0.007315,-0.018143,0.018143,0.021221
day,-0.003346,1.000000,0.001198,-0.015293,0.002036,-0.000666,-0.000336,-0.015269,0.080018,0.087307,1.000000,0.080018,0.009454,-0.013945,0.013945,-0.344034
month,0.007078,0.001198,1.000000,-0.094842,0.007448,-0.000327,0.000678,0.028294,0.988490,0.996268,0.001198,0.988490,0.970269,0.025813,-0.025813,0.016620
year,0.004654,-0.015293,-0.094842,1.000000,-0.001028,-0.001013,-0.000587,0.016655,-0.090262,-0.095875,-0.015293,-0.090262,-0.095960,0.022720,-0.022720,0.019288
hour,0.009196,0.002036,0.007448,-0.001028,1.000000,0.017578,-0.000854,-0.019915,0.007537,0.007528,0.002036,0.007537,0.006704,-0.033696,0.033696,-0.009408
minute,0.000309,-0.000666,-0.000327,-0.001013,0.017578,1.000000,-0.001215,-0.000317,-0.000390,-0.000383,-0.000666,-0.000390,-0.000378,-0.001798,0.001798,0.000085
second,-0.001131,-0.000336,0.000678,-0.000587,-0.000854,-0.001215,1.000000,-0.000242,0.000782,0.000649,-0.000336,0.000782,0.000469,-0.000065,0.000065,-0.000763
weekday,-0.015205,-0.015269,0.028294,0.016655,-0.019915,-0.000317,-0.000242,1.000000,0.015252,0.026850,-0.015269,0.015252,0.025775,0.767606,-0.767606,0.027182
week,0.007557,0.080018,0.988490,-0.090262,0.007537,-0.000390,0.000782,0.015252,1.000000,0.991671,0.080018,1.000000,0.960787,0.017912,-0.017912,0.007893
day_of_year,0.006727,0.087307,0.996268,-0.095875,0.007528,-0.000383,0.000649,0.026850,0.991671,1.000000,0.087307,0.991671,0.967351,0.024497,-0.024497,-0.013115
day_of_month,-0.003346,1.000000,0.001198,-0.015293,0.002036,-0.000666,-0.000336,-0.015269,0.080018,0.087307,1.000000,0.080018,0.009454,-0.013945,0.013945,-0.344034
week_of_year,0.007557,0.080018,0.988490,-0.090262,0.007537,-0.000390,0.000782,0.015252,1.000000,0.991671,0.080018,1.000000,0.960787,0.017912,-0.017912,0.007893
quarter,0.007315,0.009454,0.970269,-0.095960,0.006704,-0.000378,0.000469,0.025775,0.960787,0.967351,0.009454,0.960787,1.000000,0.033237,-0.033237,0.012299
is_weekend,-0.018143,-0.013945,0.025813,0.022720,-0.033696,-0.001798,-0.000065,0.767606,0.017912,0.024497,-0.013945,0.017912,0.033237,1.000000,-1.000000,-0.001993
is_weekday,0.018143,0.013945,-0.025813,-0.022720,0.033696,0.001798,0.000065,-0.767606,-0.017912,-0.024497,0.013945,-0.017912,-0.033237,-1.000000,1.000000,0.001993
is_month_start,0.021221,-0.344034,0.016620,0.019288,-0.009408,0.000085,-0.000763,0.027182,0.007893,-0.013115,-0.344034,0.007893,0.012299,-0.001993,0.001993,1.000000

In [13]:
# how many unique merchants are there in the dataset?
len(df['merchant'].unique())

14351

In [ ]:
# total amount spent across each merchant
var = df.groupby(['merchant', 'year', 'month']).agg(total_usd_in_cents = ('amount_usd_in_cents', 'sum'))
#var.sort_values('total_usd_in_cents', ascending=False)

In [ ]:
# prompt: generate histogram of merchant vs amount_usd_in_cent across 2033 and 2034
df.groupby(['merchant', 'year'])['amount_usd_in_cents'].hist(bins=100)

In [ ]:
# prompt: generate statistics of amount_usd_in_cent spent across each merchant per month and year

df.groupby(['merchant', 'month', 'year'])['amount_usd_in_cents'].agg(['count', 'mean', 'std', 'min', 'max'])

In [ ]:
# prompt: predict churn of the merchant

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X = df.drop('churn', axis=1)
y = df['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

In [ ]:
# prompt: statistically analyze df

df.corr()

len(df['merchant'].unique())

df.groupby(['merchant', 'year'])['amount_usd_in_cents'].hist(bins=100)

df.groupby(['merchant', 'month', 'year'])['amount_usd_in_cents'].agg(['count', 'mean', 'std', 'min', 'max'])